---
layout: base
title: JBoss Developer Framework
---
.hero-unit
  .row
    .span8
      %img{ :src=>'http://design.jboss.org/jbossdeveloperframework/logo/final/jdf_logo_450px.png' }
      %h1 What is jdf?
      %p TODO
    .span2
      %ul.unstyled
        %li Quickstarts
        %li Examples
        %li Migration 
        %li About
  .row  
    .span10.cta
      %p LEARN MORE ABOUT JDF | GET STARTED NOW!
.row
  .span6
    %h1 Latest News
    - site.news.each do |post|
      = partial('short_post.html.haml', {'parent'=>page, 'post'=>post, 'include_comments_count'=>post.equal?(site.news.last)})
  .span6
    .spotlight
      %h1 Spotlight
      %p TODO Add spotlight
    %h1 Upcoming Events
    %ul
      - for session in site.sessions[0,3]
        %li
          %span.date<
            %abbr><= session.start_datetime.strftime('%b')
            = session.start_datetime.strftime('%d')
          %h3(style='line-height: 1; margin-bottom: 0;')
            %a{:href=>session.event_url}= session.event
          %em.location(style='display: block; margin-bottom: .5em;')= session.event_location
          %p<>
            #{session.speaker_names.join(' and ')} will present:
            %br
            %a{:href=>session.detail_url}= session.title
    .more
      %a(href='/events') View all events &raquo;
