---
layout: landing
---
#frontpage-header-wrapper
  .container#frontpage-header
    .row
      .span8
        %img#jdf-logo{ :src=>"http://design.jboss.org/jbossdeveloperframework/logo/final/jdf_logo_450px.png" }
        .about
          :markdown
            JBoss Developer Framework **shows** *you* how to write applications using JBoss technologies. Want to learn how to write an application suitable for **mobile**? Learn how to use the Java EE 6 API with **JBoss AS**? Learn how to add the power of **CDI** to your browser? Then you are in the right place.
        .cta
          %a.btn.btn-large{:href=>'examples/ticket-monster/tutorial/WhatIsTicketMonster'}
            GET STARTED!
      .span2.offset1#vertnav-wrapper
        %ul#main-vert-nav
          - site.nav.each do |key, nav|
            %li
              %a{:href=>"#{nav.url}" } #{nav.label}

        .sharethispadding
          %span.st_sharethis_large
          %span.st_facebook_large
          %span.st_googleplus_large
          %span.st_twitter_large
          :javascript
            stLight.options({ publisher:'0c0850b9-23f0-4286-b05a-7593cc190675' });
.container
  .row
    .span5.section-heading
      %h1 Latest News
      - site.posts.each do |post|
        = partial("short_post.html.haml", {"parent"=>page, "post"=>post, "include_comments_count"=>post.equal?(site.posts.last)})
      .more
        %a(href="news") View all news &raquo;
    .span5.offset1
      .spotlight.section-heading
        -# .slide required to fix IE bug in bootstrap < 2.1
        #slideshow.carousel.slide
          .carousel-inner#slideshow-inner
            - site.spotlights.each do |spotlight|
              .item(data-weight="#{spotlight.weight}")
                = spotlight.content              
          %a.carousel-control.left(href="#slideshow" data-slide="prev") &lsaquo;
          %a.carousel-control.right(href="#slideshow" data-slide="next") &rsaquo;
      :javascript
        $(function() {
          activateSlideshow();
        });

      .section-heading
        %h1 Upcoming Events
        %ul
          - for session in site.sessions[0,3]
            %li
              %h3(style="line-height: 1; margin-bottom: 0;")
                %a{:href=>session.event_url}= session.event
              .event
                %abbr= session.start_datetime.strftime("%b")
                = session.start_datetime.strftime("%d") + " : "
                = session.event_location
              %p<>
                #{session.speaker_names.join(" and ")} will present:
                %em 
                  %a{:href=>session.detail_url}= session.title
        .more
          %a(href="events") View all events &raquo;
