---
layout: default
title: 'Quickstarts: Get Started'
---
- page.javascripts = [ "#{site.base_url}/javascripts/jquery-datatables.js" ] 
:markdown
  JBoss Developer Framework ships with a number of quickstarts that show you how to get started with a variety of technologies in JBoss AS. You'll find out how to write a web application using the latest Java EE technologies like CDI and JAX-RS. How to write client libraries to talk to JBoss AS using web services, JMS or EJB. How to set up a distributed transaction, and how to recover from a transaction failure. And much, much more.

  Quickstarts are very focused - they demonstrate on a single API (e.g. JAX-RS) or a single use case (write a web-app with CRUD).

  Available Quickstarts
  ---------------------

%table#quickstart-toc.table.table-condensed.quickstart-toc-table
  %thead
    %tr
      %th Quickstart Name
      %th Technologies
      %th Description
      %th Experience
      %th Target Product
      %th Prerequisites
  %tbody
    - site.guides['/quickstarts/jboss-as-quickstart'].each do |guide|
      - if guide.dir
        %tr
          %td
            %a{:href => site.base_url + guide.url, :title=> guide.name}= guide.name
          %td= guide.technologies ? guide.technologies.join(', ') : '' 
          %td= guide.summary ? guide.summary : ''
          %td= guide.level ? guide.level : ''
          %td= guide.target_product ? guide.target_product.join(', ') : ''
          %td= guide.prerequisites ? guide.prerequisites.join(', ') : ''

:javascript
  $(document).ready(function() {
    $('#quickstart-toc')
      .dataTable({
        "bPaginate": false,
        "aaSorting": [[ 0, "asc" ]]
      });
  } );

:markdown
  More Resources
  --------------
    
  * [Quickstarts General Info](../jboss-as-quickstart)
  * [Selected Tutorials for the quickstarts](../jboss-as-quickstart/guide/Introduction)
  * [Watch and learn](videos)
  * [Read how the community is using the Quickstarts](articles)
      
