---
---
.contributor{:itemscope=>'', :itemtype=>'http://schema.org/Person'}
  - if (page.contributor and not page.contributor.is_a? String)
    %div.modal.hide{:id=>page.contributor.github_id}
      .modal-header
        %a.close{:data=>{:dismiss=>'modal'}}
          %i.icon-remove
        %h3
          %span{:itemprop=>'name'}= page.contributor.name
          %small{:itemprop=>'homeLocation'}=  page.contributor.location
        %ul
          - if page.contributor.blog
            %li
              %a{:href=>page.contributor.blog, :itemprop=>'url'} 
                %img(src="#{site.base_url}/images/glyphicons/glyphicons_330_blog.png")
          - if page.contributor.twitter
            %li
              %a{:href=>page.contributor.twitter.url, :itemprop=>'url'} 
                %img(src="#{site.base_url}/images/glyphicons/glyphicons_392_twitter.png")
          %li
            %a{:href=>page.contributor.github.profile_url, :itemprop=>'url'}
              %img(src="#{site.base_url}/images/glyphicons/glyphicons_381_github.png")
      .modal-body.clearfix
        %img.thumbnail{:src=>page.contributor.avatar_url(60), :alt=>page.contributor.name, :style=>'float: left; margin: 2px 10px 3px 0;', :itemprop=>'image'}
        - if !page.contributor.bio.nil?
          %span{:itemprop=>'description'}
            :markdown
              #{page.contributor.bio}
        - else
          No bio available.

