---
layout: default
title: 'JBoss Runtimes'
---
- page.javascripts = [ "#{site.base_url}/javascripts/jquery-datatables.js" ] 
:markdown
  JBoss Developer Framework gives you the possibility to choose your desired runtime/archtypes/bom combination.

  ------------------------------------------



%table.table.table-bordered#releases
  %thead
    %tr
      %th Minor Releases
      %th Suggested Runtime
      %th Suggested BOM
      %th Suggested Archetype
      %th Download
      %th.hidden Runtime ID
  - site.stacks.minorReleases.each do |mr|
    %tr
      %td 
        %strong  #{mr.name} #{mr.version}
      %td #{mr.recommendedRuntime.name}
      %td 
        %a{:href => "../boms/##{mr.recommendedRuntime.defaultBom.name}"} #{mr.recommendedRuntime.defaultBom.name}
      %td soon
      %td 
        %a{:href => "#{mr.recommendedRuntime.url}"}
          %img{:src=>"#{site.base_url}/images/glyphicons/glyphicons_181_download_alt.png"}
      %td.hidden #{mr.object_id}

-#
  Create Tables for each Runtime 

- site.stacks.minorReleases.each do |mr|
  %table.hidden{:id=>"#bomDetails#{mr.object_id}", :class=>"table"}
    %thead
      %th Available Boms for #{mr.recommendedRuntime.name}
      %th Recommended Bom version
    - mr.recommendedRuntime.boms.each do |bom|
      %tr
        %td 
          %a{:href=>"../boms/##{bom.name}"} #{bom.name}
        %td 
          %a{:href=>"../boms/##{bom.name}"} #{bom.recommendedVersion}

:javascript

  /* Formating function for row details */
  function fnFormatDetails ( oTable, nTr )
  {
      var aData = oTable.fnGetData( nTr );
      var sTableId = '#bomDetails'+ aData[6];
      var sTable =  document.getElementById(sTableId).innerHTML;
      var sOut = '<table class="table tableBordered" cellpadding="5" cellspacing="0" border="0" style="padding-left:20px;">';
      sOut += sTable;
      sOut += '</table>';
       
      return sOut;
  }
   
  $(document).ready(function() {
      /*
       * Insert a 'details' column to the table
       */
      var nCloneTh = document.createElement( 'th' );
      var nCloneTd = document.createElement( 'td' );
      nCloneTd.innerHTML = '<img src="#{site.base_url}/images/details_open.png">';
      nCloneTd.className = "center";
       
      $('#releases thead tr').each( function () {
          this.insertBefore( nCloneTh, this.childNodes[0] );
      } );
       
      $('#releases tbody tr').each( function () {
          this.insertBefore(  nCloneTd.cloneNode( true ), this.childNodes[0] );
      } );
       
      /*
      * Initialse DataTables, with no sorting on the 'details' column
      */
      var oTable = $('#releases').dataTable(  {
        "bPaginate": false,
        "bLengthChange": false,
        "bFilter": false,
        "bSort": false,
        "bInfo": false,
        "bAutoWidth": false
      });
       
      /* Add event listener for opening and closing details
      * Note that the indicator for showing which row is open is not controlled by DataTables,
      * rather it is done here
      */
      $('#releases tbody td img').live('click', function () {
          var nTr = $(this).parents('tr')[0];
          if ( oTable.fnIsOpen(nTr) )
          {
              /* This row is already open - close it */
              this.src = "#{site.base_url}/images/details_open.png";
              oTable.fnClose( nTr );
          }
          else
          {
              /* Open this row */
              this.src = "#{site.base_url}/images/details_close.png";
              oTable.fnOpen( nTr, fnFormatDetails(oTable, nTr), 'details' );
          }
      } );
  } );
