---
layout: default
site_title: Contributors 
description: Contributors to JBoss Developer Framework. JBoss Developer Framework shows you how to write applications using JBoss technologies.
---
- page.title = "#{page.site_title} <small>#{site.identities.contributors().size}</small>"
#content
  %ul.contributors
    - site.identities.contributors().sort_by{|c| c.commits * Order::DESC}.each do |contributor|
      %li
        = partial('contributor_modal.html.haml', {'contributor'=>contributor})        
        %div.photo
          %img{:src=>contributor.avatar_url(140), :alt=>contributor.name, :data=>{:toggle=>'modal', :target=>'#' + contributor.github_id}}
          %ul
            %li
              - if contributor.blog
                %a{:href=>contributor.blog} Blog
              - else
                %span Blog
            %li
              - if !contributor.twitter.nil?
                %a{:href=>contributor.twitter.url} Twitter
              - else
                %span Twitter
            %li
              %a{:href=>contributor.github.profile_url} GitHub
        %h3
          %div{:data=>{:toggle=>'modal', :target=>'#' + contributor.github_id}}
            =contributor.name
          - if contributor.role
            ="(#{contributor.role})"
        %strong= contributor.company
        %em= contributor.location
  %p
    %strong Is your information incomplete? Is your profile picture missing?
    This page mirrors information from your public github and gravatar profiles. To update your information, fill in your name, location and bio in your <a href="http://github.com">github account</a>. To get a photo or avatar to display, upload an image to the <a href="http://gravatar.com">gravatar account</a> that's linked to your github account. If you want your twitter account linked in, make sure Gravatar can access it. If you don't want your information on this page, please let us know and we'll honor your request.

  :javascript
    $(function() {
      if (window.location.hash) {
        $(window.location.hash).modal('show')
      }
    }); 
