---
layout: default
title: Roadmap
---
.roadmap
  - site.roadmaps.reverse_each do |roadmap|
    .row
      .span8
        %div{:class => roadmap.released ? '' : 'not-released'}
          %h2 jdf #{roadmap.version}
          - if roadmap.tagline
            .tagline
              %strong "#{roadmap.tagline}"
          #{roadmap.content}
      .span4
        .row.release_info
          .span1
            .date
              %abbr
                #{roadmap.release_date.strftime('%b')}
              #{roadmap.release_date.strftime('%d')}
              .year
                #{roadmap.release_date.strftime('%Y')}
            - if not roadmap.released
              %br/
              (Tentative)
          .span3
            - if roadmap.highlights.size > 0
              %dt What's new
              %dd
                - roadmap.highlights.each do |highlight|
                  %li 
                    - if highlight.url
                      %a{:href=>"#{highlight.url}"} #{highlight.label}
                    - else 
                      #{highlight.label}
        - if roadmap.downloads.size > 0
          .row
            .span4
              %dt Get it
              %dd
                - roadmap.downloads.each do |download|
                  %li
                    - if download.url
                      %a{:href=>"#{download.url}"} #{download.label}
                    - else 
                      #{download.label}
