---
layout: default
title: Roadmap
description: Roadmap for JBoss Developer Framework. JBoss Developer Framework shows you how to write applications using JBoss technologies.
---
.roadmap
  - site.roadmaps.reverse_each do |roadmap|
    .row
      .span8
        %div{:class => roadmap.released ? '' : 'not-released'}
          %h2 jdf #{roadmap.version}
          - if roadmap.tagline
            .tagline
              %strong "#{roadmap.tagline}"
          #{roadmap.content}
      .span4
        .row.release_info
          .span1
            .date
              %abbr
                #{roadmap.release_date.strftime('%b')}
              #{roadmap.release_date.strftime('%d')}
              .year
                #{roadmap.release_date.strftime('%Y')}
            - if not roadmap.released
              %br/
              (Tentative)
          .span3
            - if roadmap.highlights.size > 0
              %dt What's new
              %dd
                - roadmap.highlights.each do |highlight|
                  %li 
                    - if highlight.url
                      %a{:href=>"#{highlight.url}"} #{highlight.label}
                    - else 
                      #{highlight.label}
        - if roadmap.downloads.size > 0
          .row
            .offset1.span3
              %dt Get it
              %dd
                - roadmap.downloads.each do |download|
                  %li
                    - if download.url
                      %a{:href=>"#{download.url}"} #{download.label}
                    - else 
                      #{download.label}

:markdown
  ## How is the roadmap planned?

  JBoss Developer Framework is use case focused, and every tri-annual release focuses on two new use cases.

  One of the goals of JBoss Developer Framework is to help people understand both JBoss upstream projects (such as JBoss AS) and the JBoss Enterprise products (such as JBoss Enterprise Application Platform). As JBoss Developer Framework targets both JBoss upstream projects and Red Hat JBoss Enterprise products, any feature shown in JBoss Developer Framework should be available (or available soon) in both upstream projects and JBoss Enterprise products.

  To simplify this, the JBoss Developer Framework release timeline tracks the  JBoss Web Framework Kit, which contains, or tracks, many of the features JBoss Developer Framework shows. The Red Hat JBoss Web Framework Kit provides subscriptions for HTML5, RichFaces and Errai, amongst others; it also tracks JBoss Enterprise Application Platform.

  Each release of JBoss Developer Framework is preceeded by a number of milestone builds, which provide a snapshot for early adopters to try out. Each release of JBoss Developer Framework is followed by a number of micro releases, that fix any bugs in the quickstarts and examples, and provide additional updates to the site.

