---
title: jdf Forums
layout: default
---

.container
  .row
    .span12
      :markdown
        As an open-source project, the JBoss Developer Community has many entry points. We welcome your participation however it suits your level of interest.
    
        Where Are We?
        -------------

        The jdf forums, here, and the #jboss-jdf channel on the Freenode IRC network are the main channels of communication between community members. Use this page to learn about these and other community resources.

        Keep in mind that contributing code is not the only way to get involved. You can provide feedback on documentation and tutorials, test the releases, share your visions or just participate in the forum discussions. The various entry points are summarized below. See you there!

  .row
    .span12
      %hr

  .row
    .span8
      %h2
        %img(src="#{site.base_url}/images/forum.png")
        Forums
      :markdown

        jdf uses two forums, available here, which are backed by mailing lists.
  
        * [jdf-users@lists.jboss.org](../jdf-users)
    
          The *jdf-users* forum is for developers using JBoss Developer Framework in their project.
    
        * [jdf-dev@lists.jboss.org](../jdf-dev)
 
          The *jdf-dev* forum is reserved for discussions about contributing to JBoss Developer Framework.
    .span4
      %img(src='#{site.base_url}/images/screenshot-forums.png')

  .row
    .span12
      %hr

  .row
    .span8
      %h2
        %img(src="#{site.base_url}/images/chat.png")
        Chat (IRC


      :markdown
     
        We invite you to join us in the #jboss-jdf channel on irc.freenode.net to chat about JBoss Developer Framework and other topics related to developing applications with the JBoss stack.
    
        This channel is logged to [transcripts.jboss.org](#{site.irc_transcripts}) by JBossBot. The JBossBot is also present to expand issue numbers from the issue tracker.

        If you don't have an IRC client installed or available, you can use the "web-based client":webchat on this site to join the #jboss-jdf channel.

    .span4
      %img(src='#{site.base_url}/images/screenshot-irc.png')
