---
layout: getinvolved
---
- page.title = 'Get Involved with JBoss Stacks'
- page.bomguide = 'https://raw.github.com/rafabene/jboss-bom/JDF-168/CONTRIBUTING.md'
- page.archetypeguide = 'https://raw.github.com/rafabene/jboss-as-archetype/JDF-168/CONTRIBUTING.md'
- page.stacksguide = 'https://raw.github.com/rafabene/jdf-stack/JDF-168/CONTRIBUTING.md'
- page.stacksclientguide = 'https://raw.github.com/rafabene/jdf-stacks-client/JDF-168/CONTRIBUTING.md'
- page.pluginjdfguide = 'https://raw.github.com/rafabene/plugin-jdf/JDF-168/CONTRIBUTING.md'

:css
  .accordion {
    width: 70%;
   }

  .accordion-heading {
    font-size: 15px;
  }
  /** Reset padding **/
  .expander {
    padding: 0px;
    padding-top: 30px;
  }

%br(style="clear: left;")
.expander(href="#")
  %strong
    Don't forget to read the Contributing Guide bellow
%p
.accordion#accordion
  .accordion-group
    .accordion-heading
      %a.accordion-toggle(data-toggle="collapse" data-parent="#accordion" href="#bom") Contribute with a BOM
    #bom.accordion-body.collapse
      .accordion-inner
        :markdown
          ![Note](../../images/note.png)This Contributing Guide was generated from <#{page.bomguide}>
          - - -
          #{remotePartial(page.bomguide)}

  .accordion-group
    .accordion-heading
      %a.accordion-toggle(data-toggle="collapse" data-parent="#accordion" href="#archetype") Contribute with a Archetype
    #archetype.accordion-body.collapse
      .accordion-inner
        :markdown
          ![Note](../../images/note.png)This Contributing Guide was generated from <#{page.archetypeguide}>
          - - -
          #{remotePartial(page.archetypeguide)}

  .accordion-group
    .accordion-heading
      %a.accordion-toggle(data-toggle="collapse" data-parent="#accordion" href="#stacks") Contribute with Stacks Index
    #stacks.accordion-body.collapse
      .accordion-inner
        :markdown
          ![Note](../../images/note.png)This Contributing Guide was generated from <#{page.stacksguide}>
          - - -
          #{remotePartial(page.stacksguide)}

  .accordion-group
    .accordion-heading
      %a.accordion-toggle(data-toggle="collapse" data-parent="#accordion" href="#stacksclient") Contribute with Stacks Client
    #stacksclient.accordion-body.collapse
      .accordion-inner
        :markdown
          ![Note](../../images/note.png)This Contributing Guide was generated from <#{page.stacksclientguide}>
          - - -
          #{remotePartial(page.stacksclientguide)}

  .accordion-group
    .accordion-heading
      %a.accordion-toggle(data-toggle="collapse" data-parent="#accordion" href="#plugin") Contribute with Plugin JDF
    #plugin.accordion-body.collapse
      .accordion-inner
        :markdown
          ![Note](../../images/note.png)This Contributing Guide was generated from <#{page.pluginjdfguide}>
          - - -
          #{remotePartial(page.pluginjdfguide)}

:javascript

  $(document).ready(function() {

      /* Open modal dialog based on url fragments */
      if (location.hash) {
        var id = location.hash
        $(id).collapse('show');
      }

  } );'

