---
layout: default 
---
- page.javascripts=["#{site.base_url}/javascripts/siphon-20120407.js", "#{site.base_url}/javascripts/diigo.js" ]
- page.diigo_url="http://www.diigo.com/user/jboss-jdf/#{page.diigo_tag}"
- page.diigo_feed="http://www.diigo.com/rss/user/jboss-jdf/#{page.diigo_tag}"

%script#diigo-tmpl(type='text/x-jsquery')
  .entry
    .header
      %h3.title
        %a(href='{{:link}}') {{:title}}
      %p.meta
        Posted {{:publishedDateMonth}} {{:publishedDateOfMonth}} on
        %a(href='{{:link}}') {{:source}}
    .body {{:content}}
    %hr.taper
#diigo.feed
%div
  %a(href='#{page.diigo_url}') See all articles on diigo.com &raquo;

%p
  Got an article? Add it to the directory on
  %a(href='#{page.diigo_url}') Diigo
  - if page.diigo_tag
    , tagged with #{page.diigo_tag}.

:javascript
  diigo('#{page.diigo_feed}');
