- page.top_nav = page.relative_source_path[/^\/([^\/]+)/, 1]
- page.subnav = site.nav[page.top_nav]
!!!5
%html
  %head
    %meta{ :charset=>"utf-8" }
    %title= (page.title ? (page.site_title ? page.site_title : page.title) : site.title)
    %meta{ :name=>"viewport", :content=>"width=device-width, initial-scale=1.0" }
    %meta(name="description"){:content=>page.description ? page.description : site.description}
    - if site.keywords
      %meta(name="keywords"){:content=>site.keywords}
    -#
      - if page.author
        %meta(name="author"){:content=>site.identities.lookup(page.author).name}
    - if site.noindex
      %meta(name="robots" content="noindex")
    - if site.url
      %link(rel="canonical"){:href=>site.url}
    %link(rel="alternate" type="application/atom+xml" href="/news.atom" title="JBoss Developer Framework News Atom feed")
    %link{ :rel=>"stylesheet", :type=>"text/css", :href=>"http://static.jboss.org/theme/css/awestruct/jbossdefault_wrapper.css", :media=>"screen, projection" }
    %link{ :rel=>"stylesheet", :type=>"text/css", :href=>"#{site.base_url}/stylesheets/styles.css" }
    /[if lt IE 9]
      %script{ :type=>"text/javascript", :src=>"//html5shim.googlecode.com/svn/trunk/html5.js" }
    %script{:type=>"text/javascript", :src=>"http://static.jboss.org/theme/js/tabzilla.js" }
    %script{:type=>"text/javascript", :src=>"http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js" }
    :javascript
      window.jQuery || document.write( '<script src="#{site.base_url}/javascripts/jquery-1.7.2.min.js"><\/script>' )
    %script{:type=>"text/javascript", :src=>"https://static.jboss.org/theme/js/magnolia/search.js" }
    %script{:type=>"text/javascript", :src=>"http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.0.3/bootstrap.min.js" }
    - if page.javascripts
      - page.javascripts.each do |javascript|
        %script{:src=>javascript, :type=>'text/javascript'}
    = google_analytics

  %body{:class=>page.body_class || nil}
    .visible-desktop
      = remotePartial('http://static.jboss.org/theme/includes/org_header_topNav.html')
    .secondary-header-wrapper
      .container
        .row
          .span4.secondary-header
            %a{:href=>"#{site.base_url}"}
              %img{:id=>"jdf logo", :src=>"#{site.base_url}/images/jdflogo_secondarypage.png", :width=>"240", :height=>"70"}
          .span1.offset7
            .sharethispadding-secondary
              - if site.google_plusone
                .g-plusone-slot
                  .g-plusone{:data=>{:annotation=>'none'}}
        .row#secondary-nav-wrapper
          .span11
            .navbar
              .navbar-inner
                .container
                  %a{:class=>"btn btn-navbar", :data=>{:toggle=>"collapse", :target=>".nav-collapse"}}
                    %span.icon-bar
                    %span.icon-bar
                    %span.icon-bar
                  .nav-collapse
                    %ul.nav#secondary-nav
                      - site.nav.each do |key, nav|
                        %li
                          %a{:href=>"#{nav.url}", :class=>"tab #{'active' if key == page.top_nav  }" } #{nav.label}
    .sub-sub-nav
      .container
        .row
          .span10.offset1
            - if page.subnav && page.subnav.children
              %ul
                - i = 0
                - page.subnav.children.each do |key, nav|
                  - i += 1
                  %li
                    %a{:href=>"#{nav.url}", :class=>"#{'active' if page.relative_source_path =~ /^#{nav.url}/ } #{'last' if i == (page.subnav.children.size)}" } #{nav.label}
                  - if nav.children
                    - nav.children.each do |subkey, subnav|
                      %li
                        %small
                          %a{:href=>"#{subnav.url}", :class=>"#{'active' if page.relative_source_path =~ /^#{subnav.url}/ }" } #{subnav.label}
    .container
      ~ content
      %hr
      - if page.toTop
        %a#toTop.visible-desktop(href="#") Top
    :javascript
      $(function() {
        $("html").addClass("ready");
        activateToTopControl();
      });
    %script{:type=>"text/javascript", :src=>"#{site.base_url}/javascripts/site.js" }
    - if page.bottom_javascripts
      - page.bottom_javascripts.each do |javascript|
        %script{:src=>javascript, :type=>'text/javascript'}
    - if site.google_plusone
      :javascript
        (function() {
          var po = document.createElement("script"); po.async = true; po.src = "https://apis.google.com/js/plusone.js";
          var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(po, s);
        })();
    - if site.google_analytics
      = google_analytics_async
    = remotePartial('http://static.jboss.org/theme/includes/org_footer2.html')
