---
layout: default
title: 'Get Involved'
description: Learn how to contribute a quickstart. JBoss Developer Framework shows you how to write applications using JBoss technologies.
---
- page.javascripts=["#{site.base_url}/javascripts/simple-expand.min.js" ]

:css
  .content {display:none;}

  .expanded .expander {
      padding-left: 13px;
      background-position: left center;
      background-repeat: no-repeat;
      background-image: url(#{site.base_url}/images/expanded.gif);
  }

  .collapsed .expander {
      padding-left: 13px;
      background-position: left center;
      background-repeat: no-repeat;
      background-image: url(#{site.base_url}/images/collapsed.gif);
  }

:markdown
  Found a bug? Think there is something missing? Then you probably want to [report an issue](https://issues.jboss.org/browse/JDF).

%p
  %a(href='https://github.com/jboss-jdf')
    %img(src="#{site.base_url}/images/octocat_social.png" style='vertical-align: middle;')
  %strong
    Coding has become social!
    %a(href='https://github.com/jboss-jdf') Fork us!

%p
  .expand-container
    %a.expander(href="#")
      %strong
        Don't forget to read the Contributing Guide
    .content
      ~ content
      %p
      :markdown
        ![Note](../../images/note.png)The Contributing guide below was generated from <#{page.guide}>
        - - -
        #{remotePartial("#{page.rawguide}")}


%script{ :src=>"http://www.ohloh.net/p/#{site.ohloh_id}/widgets/project_basic_stats.js" }

:javascript
  $('.expand-container').simpleexpand();
