---
layout: default
---
#main(role='main')
  #content-header
    .container
      .headline
        %h1= page.guide.title
        .directory
          %button#guides_menu.btn.btn-large.dropdown-toggle{:href=>'./', :data=>{:toggle=>'dropdown'}}
            Guides Index
            %span.caret
          #guides.dropdown-menu.pull-right{:style=>'display: none'}
            %a.guides_menu{:href=>'./'}
              Guides Index
            %hr.clear
              - for guide in page.guides.each
                %dd<
                  %a{:href=>guide.url}= guide.title
                  - if guide.languages
                    %br
                    %a{:href=>guide.url}<
                      %img.flag{:src=>site.languages.en.flag_icon, :rel=>'tooltip', :title=>"#{site.languages.en.display_name_local} (en)"}
                    - for translation in guide.languages
                      %a{:href=>translation.url}<
                        %img.flag{:src=>translation.language.flag_icon, :rel=>'tooltip', :title=>"#{translation.language.display_name_local} (#{translation.language.code})"}
      %script $(function() { activateGuideMenuControl() })
  .container#guide
    ~ content
