---
layout: base 
---

- page.body_class = 'guide'
- page.toTop = 1
- page.javascripts = [ "http://w.sharethis.com/button/buttons.js" ]
- page.bottom_javascripts = [ "#{site.base_url}/javascripts/jquery-scroll.js" ]
- page.description = page.guide.meta
- page.title = page.guide.title

#main(role='main')
  #content-header
    .container{:itemscope=>'', :itemtype=>'http://schema.org/Article'}
      .headline
        - if page.guide.metadata.title
          %h1{:itemprop=>'alternativeHeadline'}= page.guide.metadata.title
        .directory
          %script $(function() { activateMenuControl('#downloads_menu', '#downloads') })
        %h2{:itemprop=>'name'}= page.guide.title
        .directory
          %button#guides_menu.menu_btn.btn.btn-large.dropdown-toggle{:href=>'./', :data=>{:toggle=>'dropdown'}}
            #{page.guide.metadata.index_label}
            %span.caret
          #guides.menu_content.dropdown-menu.pull-right{:style=>'display: none'}
            %a.menu{:href=>'./'}
              #{page.guide.metadata.index_label}
            %hr.clear
              - for guide in page.guides.each
                %dd<
                  %a{:href=>"#{site.base_url}#{guide.url}"}= guide.title
                  - if guide.languages
                    %br
                    %a{:href=>guide.url}<
                      %img.flag{:src=>site.languages.en.flag_icon, :rel=>'tooltip', :title=>"#{site.languages.en.display_name_local} (en)"}
                    - for translation in guide.languages
                      %a{:href=>translation.url}<
                        %img.flag{:src=>translation.language.flag_icon, :rel=>'tooltip', :title=>"#{translation.language.display_name_local} (#{translation.language.code})"}
          %script $(function() { activateMenuControl('#guides_menu', '#guides') })
        .row
          .span9.metadata
            .row
              .span3
                - if page.guide.authors
                  %strong= "Author#{page.guide.authors.size > 1 ? 's' : ''}:"
                  - page.guide.authors.each_with_index do |a, i|
                    - if a
                      = (i > 0 ? ' | ' : '')
                      - if a.is_a? String
                        = a
                      - else
                        %span.modal-link{:data=>{:toggle=>'modal', :target=>'#' + a.github_id}, :itemprop=>'author'}
                          = a.name

              .span3 
                - if page.guide.contributors
                  %strong= "Contributor#{page.guide.contributors.size > 1 ? 's' : ''}:"
                  - page.guide.contributors.each_with_index do |a, i|
                    - if a
                      = (i > 0 ? ' | ' : '')                    
                      - if a.is_a? String
                        = a
                      - else
                        %span.modal-link{:data=>{:toggle=>'modal', :target=>'#' + a.github_id}, :itemprop=>'contributor'}
                          = a.name
              .span3
                %strong{:style=>"padding-left: #{page.guide.group || page.tags ? 10 : 0}px;"} 
                  Last Update:
                  %span{:itemprop=>'dateModified'}= ' '.concat(page.guide.changes[0].date.strftime('%b %d, %Y'))
            .row
              .span3
                - if page.guide.level
                  %strong= "Level:"
                  = page.guide.level
              .span3
                - if page.guide.technologies
                  %strong= "Technologies:"
                  = ' <span itemprop="about">'.concat(page.guide.technologies.map{|u| u} * '</span>, <span itemprop="about">').concat('</span>')
              .span3 
                - if page.guide.target_product
                  %strong= "Target Product:"
                  = page.guide.target_product
              .span3 
                - if page.guide.prerequisites
                  %strong= "Prerequisites:"
                  = ' '.concat(page.guide.prerequisites.map{|u| u} * ', ')
          .span2.alternate_formats
            - if page.guide.metadata.alternate_formats
              - page.guide.metadata.alternate_formats.each do |f|
                %a{:href=>f.download_url, :title=>"Download #{f.format}"}
                  %img(src="#{site.base_url}/images/#{f.format}_icon.png" alt="#{f.format}")
  - if page.guide.people
    - page.guide.people.each do |p|
      = partial('contributor_modal.html.haml', {'contributor'=>p, 'author' => (( p and not p.is_a? String) ? (p.github_id == page.author) : '') })
 
  .container#guide
    #content{:lang=>page.language ? page.language.code : nil, :itemprop=>'articleBody'}
      #guide-content{:class=>'asciidoc'}
        ~ page.modified_content
        %h2
          %a#share
            Share the Knowledge
        %p
          Find this guide useful?
          .sharethispadding
            %span.st_sharethis_large
            %span.st_facebook_large
            %span.st_googleplus_large
            %span.st_twitter_large
            %span.st_linkedin_large
            %span.st_email_large
            :javascript
              stLight.options({ publisher:'0c0850b9-23f0-4286-b05a-7593cc190675', doNotHash:true, doNotCopy:true, hashAddressBar:false});
        :markdown
          #### Feedback

        Find a bug in the guide? Something missing? You can fix it by [forking the repository](#{page.guide.metadata.github_repo_url}), making the correction and [sending a pull request](http://help.github.com/send-pull-requests). If you're just plain stuck, feel free to ask a question in the [user discussion forum](#{site.base_url}/forums/jdf-users).

      #comments
      - if site.disqus
        = page.disqus_comments
      - if page.guide.changes
        %h4 Recent Changelog
        %ul
          - for change in page.guide.changes
            %li
              #{change.date.strftime('%b %d, %Y')}:
              &= change.message
              - if change.author
                - if change.author.is_a? String
                  %em 
                    = change.author
                - else
                  %em.modal-link{:data=>{:toggle=>'modal', :target=>'#' + change.author.github_id}}
                    = change.author.name
        %p
          -# FIXME make me a function
          %a{:href=>"#{page.guide.metadata.github_repo_url}/commits/#{page.guide.metadata.version}/#{page.guide.git_relative_path}"} See full history &raquo;
    - if page.guide
      #sidebar
        #toc{:style=>"width:266px"}
          .btn-group
            .cta{:style=>"text-align:center"}
              %a#downloads_menu.menu_btn.btn.btn-large.dropdown-toggle.btn-success{:href=>'#', :data=>{:toggle=>'dropdown'}}
                DOWNLOAD
                %span.caret
            #downloads.menu_content.dropdown-menu.pull-right{:style=>'display: none; width: 670px;top:0px;padding-top:2em'}
              .downloads
                .row.header
                  .span1
                    %a{:href=>page.guide.metadata.github_repo_url}
                      %img(src="#{site.base_url}/images/octocat_social.png" style='vertical-align: middle;')
                    %a{:href=>page.guide.metadata.github_repo_url} Fork us! 
                  .span6
                    %a.menu{:href=>'./'}
                      #{page.guide.metadata.downloads_label}
                    %hr.clear
                .content
                  %dl.dl-horizontal
                    %dt Version
                    %dd{:itemprop=>'version'}= page.guide.metadata.version
                    %dt Clone
                    %dd 
                      %code= page.guide.metadata.clone_command
                    %dt Browse
                    %dd
                      %a{:href=>page.guide.metadata.github_url, :style=>"display:inline;padding:initial"} Source on Github
                    %dt Download
                    %dd
                      %ul.unstyled
                        %li{:style=>"float:left"}
                          %a{:href=>page.guide.metadata.github_source_zip} Source zip
          %h3.chapter_header Section
          %ol.chapters
            - page.guide.chapters.each do |chapter|
              %li
                %a{:id=>"#{chapter.link_id}_link", :href=>"##{chapter.link_id}"}= chapter.text
      %script
        $(window).load(function() { activateScrollingToc([#{page.guide.chapters.map{|c| "'#{c.link_id}'"} * ', '}]) })
