---
layout: guide-base
---
- page.body_class = 'guide'
- page.toTop = 1
- page.bottom_javascripts = [ "#{site.base_url}/javascripts/jquery-scroll.js", 'http://apis.google.com/js/plusone.js' ]
#content{:lang=>page.language ? page.language.code : nil}
  - if page.guide.authors
    .authors<
      %strong= "Author#{page.guide.authors.size > 1 ? 's' : ''}:"
      // TODO Link in to site identities
      = ' '.concat(page.guide.authors.map{|u| u} * ', ')
  - if page.guide.contributors
    .contributors<
      %strong= "Contributor#{page.guide.contributors.size > 1 ? 's' : ''}:"
      // TODO Link in to site identities
      = ' '.concat(page.guide.contributors.map{|u| u} * ', ')
  - if page.guide.level
    .level<
      %strong= "Level:"
      = ' '.concat(page.guide.level.map{|u| u} * ', ')
  - if page.guide.technologies
    .technologies<
      %strong= "Technologies:"
      = ' '.concat(page.guide.technologies.map{|u| u} * ', ')
  - if page.guide.prerequisites
    .prerequisites<
      %strong= "Prerequisites:"
      = ' '.concat(page.guide.prerequisites.map{|u| u} * ', ')
  %br
  %strong{:style=>"padding-left: #{page.guide.group || page.tags ? 10 : 0}px;"} Last Update:
  = ' '.concat(page.guide.changes[0].date.strftime('%b %d, %Y'))
  ~ content
  %h2
    %a#share
      Share the Knowledge
  %p
    Find this guide useful?
    .sharethispadding
      %span.st_sharethis_large
      %span.st_facebook_large
      %span.st_googleplus_large
      %span.st_twitter_large
      %span.st_linkedin_large
      %span.st_email_large
      :javascript
        stLight.options({ publisher:'0c0850b9-23f0-4286-b05a-7593cc190675' });
  %h4
    Feedback
  %p
    TODO
  #comments
  - if site.disqus
    = page.disqus_comments
  - if page.guide.changes
    %h4 Recent Changelog
    %ul
      - for change in page.guide.changes
        %li
          #{change.date.strftime('%b %d, %Y')}:
          &= change.message
          %em by #{change.author} 
    %p
      -# FIXME make me a function
      %a{:href=>"#{site.website_source_repo}/commits/master#{page.relative_source_path}"} See full history &raquo;
- if page.guide
  #sidebar
    #toc
      %h3.chapter_header Section
      %ol.chapters
        - page.guide.chapters.each do |chapter|
          %li
            %a{:id=>"#{chapter.link_id}_link", :href=>"##{chapter.link_id}"}= chapter.text
  %script
    $(window).load(function() { activateScrollingToc([#{page.guide.chapters.map{|c| "'#{c.link_id}'"} * ', '}]) })
